/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Toàn bộ trang */
body {
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background: url("Anh-gia-dinh.jpg") no-repeat center center/cover;
  overflow: hidden;
}

/* Lớp phủ tối */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* Nội dung */
.content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

/* Tiêu đề */
h1 {
  font-size: 50px;
  color: #ffd700;
  text-shadow: 0 0 10px red;
  margin-bottom: 20px;
}

/* Đoạn văn */
p {
  font-size: 22px;
  margin-bottom: 30px;
}

/* Nút */
button {
  padding: 12px 30px;
  font-size: 18px;
  background: red;
  color: yellow;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 15px gold;
}

button:hover {
  background: #ff4500;
}

/* Lời chúc hiện ra */
#wish {
  margin-top: 25px;
  font-size: 24px;
  color: #00ffcc;
  animation: fadeIn 1s ease-in-out;
}

/* Hiệu ứng */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Canvas pháo hoa */
canvas {
  position: fixed;
  inset: 0;
  z-index: 0;
}
