/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: radial-gradient(circle, #ffcc00, #c40000);
  overflow: hidden;
  color: white;
}

/* ===== MAIN BOX ===== */
.container {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.95);
  color: #c40000;
  padding: 30px 40px;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  max-width: 500px;
  width: 100%;
}

h1 {
  font-size: 2.2rem;
}

.wish {
  margin: 15px 0;
  font-size: 1.2rem;
}

#countdown {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 15px;
}

/* ===== BUTTON ===== */
button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 1rem;
  background: #c40000;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background: #ff9900;
}

/* ===== FLOWER ===== */
.flower {
  position: fixed;
  top: -50px;
  font-size: 30px;
  animation: fall linear infinite;
  z-index: 5;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
  }
}

/* ===== CANVAS ===== */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  .wish {
    font-size: 1rem;
  }
}
